
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@Html.Partial("_Header")
@Html.Partial("HomeSlider")

@Html.Partial("FlashSale");
    @*ChooseCate*@

    <ul class="choose-cate  ">
        <li>
            <a href="/iphone">
                <div class="img-catesp cateiphone">
                    <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/IP_Desktop.png" alt="" width="102" height="112">
                </div>
                <span>iPhone</span>
            </a>
        </li>
        <li>
            <a href="/mac">
                <div class="img-catesp catemac">
                    <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/Mac_Desktop.png" alt="" width="150" height="97">
                </div>
                <span>Mac</span>
            </a>
        </li>
        <li>
            <a href="/ipad">
                <div class="img-catesp cateipad">
                    <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/IPad_Desktop.png" alt="" width="116" height="102">
                </div>
                <span>iPad</span>
            </a>
        </li>
        <li>
            <a href="/apple-watch">
                <div class="img-catesp catewatch">
                    <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/Watch_Desktop.png" alt="" width="169" height="110">
                </div>
                <span>Watch</span>
            </a>
        </li>
        <li>
            <a href="/am-thanh">
                <div class="img-catesp cateisound">
                    <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/Amthanh_Desktop.png" alt="" width="169" height="124">
                </div>
                <span>Tai nghe, loa</span>
            </a>
        </li>
        <li>
            <a href="/phu-kien">
                <div class="img-catesp catephukien">
                    <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/PK_Desktop.png" alt="" width="71" height="100">
                </div>
                <span>Phụ kiện</span>
            </a>
        </li>
    </ul>
    @*iPhone*@
<div class="box-slide ">
    <a href="iphone" class="logo-cate  ">
        <i class="topzone-iconapple"></i>
        <h2 class="title-text">Iphone</h2>
    </a>
    <div class="slide-cate owl-theme owl-loaded  filtering" data-block="Mac">


                <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="1" data-block="Mac">

                        <a href="/mac/macbook-air-13-inch-m3-2024" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M3" data-id="322612" data-price="27690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322612/s16/macbook-air-13-inch-m3-2024-xanh-1-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322612/s16/macbook-air-13-inch-m3-2024-xanh-1-650x650.png">
                            </div>
                            <h3>MacBook Air 13 inch M3 8GB/256GB</h3>
                            <span class="box-price">
                                27.690.000₫
                                <strike>27.990.000₫</strike>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="2" data-block="Mac">

                        <a href="/mac/macbook-air-15-inch-m3-2024" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M3" data-id="322616" data-price="31690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322616/s16/macbook-air-15-inch-m3-2024-xam-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322616/s16/macbook-air-15-inch-m3-2024-xam-650x650.png">
                            </div>
                            <h3>MacBook Air 15 inch M3 8GB/256GB</h3>
                            <span class="box-price">
                                31.690.000₫
                                <strike>32.990.000₫</strike>
                            </span>
                            <p class="item-txt-online orange">Online giá rẻ quá</p>
                        </a>

                    </div>
                </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="3" data-block="Mac">

                        <a href="/mac/apple-macbook-air-2020-mgn63saa" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M1" data-id="231244" data-price="19090000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/mac-air-m1-13-xam-new-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M1 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/mac-air-m1-13-xam-new-650x650.png">
                            </div>
                            <h3>MacBook Air 13 inch M1 8GB/256GB</h3>
                            <span class="box-price">
                                19.090.000₫
                                <strike>19.590.000₫</strike>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="4" data-block="Mac">

                        <a href="/mac/macbook-air-m2-2022-8-core-gpu" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2" data-id="282827" data-price="24390000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/mac-air-m2-13-xanh-new-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M2 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/mac-air-m2-13-xanh-new-650x650.png">
                            </div>
                            <h3>MacBook Air 13 inch M2 8GB/256GB</h3>
                            <span class="box-price">
                                24.390.000₫
                                <strike>27.090.000₫</strike>
                                <small>-9%</small>
                            </span>
                            <p class="item-txt-online orange">Online giá rẻ quá</p>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="5" data-block="Mac">

                        <a href="/mac/apple-macbook-air-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M2 Sạc 35W" data-id="309016" data-price="25990000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309016/s16/mac-air-15-xam-new-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M2 8GB/256GB Sạc 35W" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309016/s16/mac-air-15-xam-new-650x650.png">
                            </div>
                            <h3>MacBook Air 15 inch M2 8GB/256GB Sạc 35W</h3>
                            <span class="box-price">
                                25.990.000₫
                                <strike>32.290.000₫</strike>
                                <small>-19%</small>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="6" data-block="Mac">

                        <a href="/mac/macbook-pro-14-inch-m3-2023" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Pro 14 inch M3" data-id="318228" data-price="38690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318228/s16/mac-topzone-spacegray-650x650.png" class=" lazyloaded" alt="MacBook Pro 14 inch M3 8GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318228/s16/mac-topzone-spacegray-650x650.png">
                            </div>
                            <h3>MacBook Pro 14 inch M3 8GB/512GB</h3>
                            <span class="box-price">
                                38.690.000₫
                                <strike>39.990.000₫</strike>
                            </span>
                            <p class="item-txt-online orange">Online giá rẻ quá</p>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="7" data-block="Mac">

                        <a href="/mac/apple-macbook-pro-14-inch-m3-pro-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Pro 14 inch M3 Pro" data-id="318230" data-price="49490000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318230/s16/mac-topzone-promax-black-650x650.png" class=" lazyloaded" alt="MacBook Pro 14 inch M3 Pro 18GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318230/s16/mac-topzone-promax-black-650x650.png">
                            </div>
                            <h3>MacBook Pro 14 inch M3 Pro 18GB/512GB</h3>
                            <span class="box-price">
                                49.490.000₫
                                <strike>49.990.000₫</strike>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="8" data-block="Mac">

                        <a href="/mac/imac-24-inch-2023-4-5k-m3-8-core-gpu" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iMac 24 inch M3" data-id="318238" data-price="35490000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/318238/s16/imac-m3-bạc-thumb-650x650.png" class=" lazyloaded" alt="iMac 24 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/318238/s16/imac-m3-bạc-thumb-650x650.png">
                            </div>
                            <h3>iMac 24 inch M3 8GB/256GB</h3>
                            <span class="box-price">
                                35.490.000₫
                                <strike>36.990.000₫</strike>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="9" data-block="Mac">

                        <a href="/mac/apple-studio-display-27-5k-retina" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Studio Display Standard 27 inch 5K" data-id="274150" data-price="38490000.0" data-brand="Apple" data-cate="Màn hình" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5697/274150/s16/apple-studio-display-27-5k-retina-650x650.png" class=" lazyloaded" alt="Apple Studio Display Standard 27 inch Retina 5K/60Hz (MK0U3SA/A)" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5697/274150/s16/apple-studio-display-27-5k-retina-650x650.png">
                            </div>
                            <h3>Apple Studio Display Standard 27 inch Retina 5K/60Hz (MK0U3SA/A)</h3>
                            <span class="box-price">
                                38.490.000₫
                                <strike>41.990.000₫</strike>
                                <small>-8%</small>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="10" data-block="Mac">

                        <a href="/mac/apple-macbook-air-m2-2022-10-core-gpu" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 10GPU" data-id="282847" data-price="29290000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282847/s16/mac-air-m2-13-xam-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 8GB/512GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282847/s16/mac-air-m2-13-xam-new-650x650.png">
                            </div>
                            <h3>MacBook Air 13 inch M2 8GB/512GB/10GPU</h3>
                            <span class="box-price">
                                29.290.000₫
                                <strike>29.990.000₫</strike>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="11" data-block="Mac">

                        <a href="/mac/apple-macbook-air-m2-2022-16gb" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 10GPU" data-id="289441" data-price="33990000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289441/s16/mac-air-m2-13-vang-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 16GB/512GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289441/s16/mac-air-m2-13-vang-new-650x650.png">
                            </div>
                            <h3>MacBook Air 13 inch M2 16GB/512GB/10GPU</h3>
                            <span class="box-price">
                                33.990.000₫
                                <strike>39.190.000₫</strike>
                                <small>-13%</small>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="12" data-block="Mac">

                        <a href="/mac/apple-macbook-air-m2-2022-16gb-256gb" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 8GPU" data-id="289472" data-price="29790000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289472/s16/mac-air-m2-13-xam-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 16GB/256GB/8GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289472/s16/mac-air-m2-13-xam-new-650x650.png">
                            </div>
                            <h3>MacBook Air 13 inch M2 16GB/256GB/8GPU</h3>
                            <span class="box-price">
                                29.790.000₫
                                <strike>31.990.000₫</strike>
                                <small>-6%</small>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="13" data-block="Mac">

                        <a href="/mac/mac-mini-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Mac mini M2 2023 8CPU - 10GPU" data-id="302152" data-price="14690000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302152/s16/mac-mini-m2-2023-thumbtz-650x650.png" class=" lazyloaded" alt="Mac mini M2 2023 8CPU/8GB/256GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302152/s16/mac-mini-m2-2023-thumbtz-650x650.png">
                            </div>
                            <h3>Mac mini M2 2023 8CPU/8GB/256GB/10GPU</h3>
                            <span class="box-price">
                                14.690.000₫
                                <strike>14.990.000₫</strike>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="14" data-block="Mac">

                        <a href="/mac/mac-mini-m2-pro" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Mac mini M2 Pro 2023 16-core GPU" data-id="302154" data-price="31590000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302154/s16/mac-mini-m2-pro-thumbtz-650x650.png" class=" ls-is-cached lazyloaded" alt="Mac mini M2 Pro 2023 10-core CPU/16GB/512GB/16-core GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302154/s16/mac-mini-m2-pro-thumbtz-650x650.png">
                            </div>
                            <h3>Mac mini M2 Pro 2023 10-core CPU/16GB/512GB/16-core GPU</h3>
                            <span class="box-price">
                                31.590.000₫
                                <strike>31.990.000₫</strike>
                            </span>
                        </a>

                    </div>
                </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
                    <div class="item" data-pos="15" data-block="Mac">

                        <a href="/mac/apple-macbook-air-15-inch-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M2" data-id="309017" data-price="31490000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                            <label class="no-label"></label>
                            <div class="img-slide">
                                <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309017/s16/mac-air-15-midnight-new-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M2 8GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309017/s16/mac-air-15-midnight-new-650x650.png">
                            </div>
                            <h3>MacBook Air 15 inch M2 8GB/512GB</h3>
                            <span class="box-price">
                                31.490.000₫
                                <strike>37.990.000₫</strike>
                                <small>-17%</small>
                            </span>
                        </a>

                    </div>
                </div>
            
    </div>
  
</div>
    @*Mac*@
<div class="box-slide ">
    <a href="mac" class="logo-cate  ">
        <i class="topzone-iconapple"></i>
        <h2 class="title-text">Mac</h2>
    </a>
    <div class="slide-cate owl-theme owl-loaded  filtering" data-block="Mac">


        <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="1" data-block="Mac">

                <a href="/mac/macbook-air-13-inch-m3-2024" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M3" data-id="322612" data-price="27690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322612/s16/macbook-air-13-inch-m3-2024-xanh-1-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322612/s16/macbook-air-13-inch-m3-2024-xanh-1-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        27.690.000₫
                        <strike>27.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="2" data-block="Mac">

                <a href="/mac/macbook-air-15-inch-m3-2024" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M3" data-id="322616" data-price="31690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322616/s16/macbook-air-15-inch-m3-2024-xam-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322616/s16/macbook-air-15-inch-m3-2024-xam-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        31.690.000₫
                        <strike>32.990.000₫</strike>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="3" data-block="Mac">

                <a href="/mac/apple-macbook-air-2020-mgn63saa" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M1" data-id="231244" data-price="19090000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/mac-air-m1-13-xam-new-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M1 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/mac-air-m1-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M1 8GB/256GB</h3>
                    <span class="box-price">
                        19.090.000₫
                        <strike>19.590.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="4" data-block="Mac">

                <a href="/mac/macbook-air-m2-2022-8-core-gpu" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2" data-id="282827" data-price="24390000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/mac-air-m2-13-xanh-new-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M2 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/mac-air-m2-13-xanh-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 8GB/256GB</h3>
                    <span class="box-price">
                        24.390.000₫
                        <strike>27.090.000₫</strike>
                        <small>-9%</small>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="5" data-block="Mac">

                <a href="/mac/apple-macbook-air-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M2 Sạc 35W" data-id="309016" data-price="25990000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309016/s16/mac-air-15-xam-new-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M2 8GB/256GB Sạc 35W" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309016/s16/mac-air-15-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M2 8GB/256GB Sạc 35W</h3>
                    <span class="box-price">
                        25.990.000₫
                        <strike>32.290.000₫</strike>
                        <small>-19%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="6" data-block="Mac">

                <a href="/mac/macbook-pro-14-inch-m3-2023" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Pro 14 inch M3" data-id="318228" data-price="38690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318228/s16/mac-topzone-spacegray-650x650.png" class=" lazyloaded" alt="MacBook Pro 14 inch M3 8GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318228/s16/mac-topzone-spacegray-650x650.png">
                    </div>
                    <h3>MacBook Pro 14 inch M3 8GB/512GB</h3>
                    <span class="box-price">
                        38.690.000₫
                        <strike>39.990.000₫</strike>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="7" data-block="Mac">

                <a href="/mac/apple-macbook-pro-14-inch-m3-pro-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Pro 14 inch M3 Pro" data-id="318230" data-price="49490000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318230/s16/mac-topzone-promax-black-650x650.png" class=" lazyloaded" alt="MacBook Pro 14 inch M3 Pro 18GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318230/s16/mac-topzone-promax-black-650x650.png">
                    </div>
                    <h3>MacBook Pro 14 inch M3 Pro 18GB/512GB</h3>
                    <span class="box-price">
                        49.490.000₫
                        <strike>49.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="8" data-block="Mac">

                <a href="/mac/imac-24-inch-2023-4-5k-m3-8-core-gpu" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iMac 24 inch M3" data-id="318238" data-price="35490000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/318238/s16/imac-m3-bạc-thumb-650x650.png" class=" lazyloaded" alt="iMac 24 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/318238/s16/imac-m3-bạc-thumb-650x650.png">
                    </div>
                    <h3>iMac 24 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        35.490.000₫
                        <strike>36.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="9" data-block="Mac">

                <a href="/mac/apple-studio-display-27-5k-retina" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Studio Display Standard 27 inch 5K" data-id="274150" data-price="38490000.0" data-brand="Apple" data-cate="Màn hình" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5697/274150/s16/apple-studio-display-27-5k-retina-650x650.png" class=" lazyloaded" alt="Apple Studio Display Standard 27 inch Retina 5K/60Hz (MK0U3SA/A)" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5697/274150/s16/apple-studio-display-27-5k-retina-650x650.png">
                    </div>
                    <h3>Apple Studio Display Standard 27 inch Retina 5K/60Hz (MK0U3SA/A)</h3>
                    <span class="box-price">
                        38.490.000₫
                        <strike>41.990.000₫</strike>
                        <small>-8%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="10" data-block="Mac">

                <a href="/mac/apple-macbook-air-m2-2022-10-core-gpu" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 10GPU" data-id="282847" data-price="29290000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282847/s16/mac-air-m2-13-xam-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 8GB/512GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282847/s16/mac-air-m2-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 8GB/512GB/10GPU</h3>
                    <span class="box-price">
                        29.290.000₫
                        <strike>29.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="11" data-block="Mac">

                <a href="/mac/apple-macbook-air-m2-2022-16gb" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 10GPU" data-id="289441" data-price="33990000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289441/s16/mac-air-m2-13-vang-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 16GB/512GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289441/s16/mac-air-m2-13-vang-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 16GB/512GB/10GPU</h3>
                    <span class="box-price">
                        33.990.000₫
                        <strike>39.190.000₫</strike>
                        <small>-13%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="12" data-block="Mac">

                <a href="/mac/apple-macbook-air-m2-2022-16gb-256gb" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 8GPU" data-id="289472" data-price="29790000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289472/s16/mac-air-m2-13-xam-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 16GB/256GB/8GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289472/s16/mac-air-m2-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 16GB/256GB/8GPU</h3>
                    <span class="box-price">
                        29.790.000₫
                        <strike>31.990.000₫</strike>
                        <small>-6%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="13" data-block="Mac">

                <a href="/mac/mac-mini-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Mac mini M2 2023 8CPU - 10GPU" data-id="302152" data-price="14690000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302152/s16/mac-mini-m2-2023-thumbtz-650x650.png" class=" lazyloaded" alt="Mac mini M2 2023 8CPU/8GB/256GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302152/s16/mac-mini-m2-2023-thumbtz-650x650.png">
                    </div>
                    <h3>Mac mini M2 2023 8CPU/8GB/256GB/10GPU</h3>
                    <span class="box-price">
                        14.690.000₫
                        <strike>14.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="14" data-block="Mac">

                <a href="/mac/mac-mini-m2-pro" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Mac mini M2 Pro 2023 16-core GPU" data-id="302154" data-price="31590000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302154/s16/mac-mini-m2-pro-thumbtz-650x650.png" class=" ls-is-cached lazyloaded" alt="Mac mini M2 Pro 2023 10-core CPU/16GB/512GB/16-core GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302154/s16/mac-mini-m2-pro-thumbtz-650x650.png">
                    </div>
                    <h3>Mac mini M2 Pro 2023 10-core CPU/16GB/512GB/16-core GPU</h3>
                    <span class="box-price">
                        31.590.000₫
                        <strike>31.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="15" data-block="Mac">

                <a href="/mac/apple-macbook-air-15-inch-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M2" data-id="309017" data-price="31490000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309017/s16/mac-air-15-midnight-new-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M2 8GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309017/s16/mac-air-15-midnight-new-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M2 8GB/512GB</h3>
                    <span class="box-price">
                        31.490.000₫
                        <strike>37.990.000₫</strike>
                        <small>-17%</small>
                    </span>
                </a>

            </div>
        </div>

    </div>

</div>
    @*iPađ*@
<div class="box-slide ">
    <a href="ipad" class="logo-cate  ">
        <i class="topzone-iconapple"></i>
        <h2 class="title-text">Ipad</h2>
    </a>
    <div class="slide-cate owl-theme owl-loaded  filtering" data-block="Ipad">


        <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="1" data-block="Ipad">

                <a href="/mac/macbook-air-13-inch-m3-2024" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M3" data-id="322612" data-price="27690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322612/s16/macbook-air-13-inch-m3-2024-xanh-1-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322612/s16/macbook-air-13-inch-m3-2024-xanh-1-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        27.690.000₫
                        <strike>27.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="2" data-block="Ipad">

                <a href="/mac/macbook-air-15-inch-m3-2024" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M3" data-id="322616" data-price="31690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322616/s16/macbook-air-15-inch-m3-2024-xam-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322616/s16/macbook-air-15-inch-m3-2024-xam-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        31.690.000₫
                        <strike>32.990.000₫</strike>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="3" data-block="Ipad">

                <a href="/mac/apple-macbook-air-2020-mgn63saa" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M1" data-id="231244" data-price="19090000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/mac-air-m1-13-xam-new-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M1 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/mac-air-m1-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M1 8GB/256GB</h3>
                    <span class="box-price">
                        19.090.000₫
                        <strike>19.590.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="4" data-block="Ipad">

                <a href="/mac/macbook-air-m2-2022-8-core-gpu" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2" data-id="282827" data-price="24390000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/mac-air-m2-13-xanh-new-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M2 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/mac-air-m2-13-xanh-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 8GB/256GB</h3>
                    <span class="box-price">
                        24.390.000₫
                        <strike>27.090.000₫</strike>
                        <small>-9%</small>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="5" data-block="Ipad">

                <a href="/mac/apple-macbook-air-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M2 Sạc 35W" data-id="309016" data-price="25990000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309016/s16/mac-air-15-xam-new-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M2 8GB/256GB Sạc 35W" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309016/s16/mac-air-15-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M2 8GB/256GB Sạc 35W</h3>
                    <span class="box-price">
                        25.990.000₫
                        <strike>32.290.000₫</strike>
                        <small>-19%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="6" data-block="Ipad">

                <a href="/mac/macbook-pro-14-inch-m3-2023" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Pro 14 inch M3" data-id="318228" data-price="38690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318228/s16/mac-topzone-spacegray-650x650.png" class=" lazyloaded" alt="MacBook Pro 14 inch M3 8GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318228/s16/mac-topzone-spacegray-650x650.png">
                    </div>
                    <h3>MacBook Pro 14 inch M3 8GB/512GB</h3>
                    <span class="box-price">
                        38.690.000₫
                        <strike>39.990.000₫</strike>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="7" data-block="Ipad">

                <a href="/mac/apple-macbook-pro-14-inch-m3-pro-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Pro 14 inch M3 Pro" data-id="318230" data-price="49490000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318230/s16/mac-topzone-promax-black-650x650.png" class=" lazyloaded" alt="MacBook Pro 14 inch M3 Pro 18GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318230/s16/mac-topzone-promax-black-650x650.png">
                    </div>
                    <h3>MacBook Pro 14 inch M3 Pro 18GB/512GB</h3>
                    <span class="box-price">
                        49.490.000₫
                        <strike>49.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="8" data-block="Ipad">

                <a href="/mac/imac-24-inch-2023-4-5k-m3-8-core-gpu" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iMac 24 inch M3" data-id="318238" data-price="35490000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/318238/s16/imac-m3-bạc-thumb-650x650.png" class=" lazyloaded" alt="iMac 24 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/318238/s16/imac-m3-bạc-thumb-650x650.png">
                    </div>
                    <h3>iMac 24 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        35.490.000₫
                        <strike>36.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="9" data-block="Ipad">

                <a href="/mac/apple-studio-display-27-5k-retina" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Studio Display Standard 27 inch 5K" data-id="274150" data-price="38490000.0" data-brand="Apple" data-cate="Màn hình" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5697/274150/s16/apple-studio-display-27-5k-retina-650x650.png" class=" lazyloaded" alt="Apple Studio Display Standard 27 inch Retina 5K/60Hz (MK0U3SA/A)" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5697/274150/s16/apple-studio-display-27-5k-retina-650x650.png">
                    </div>
                    <h3>Apple Studio Display Standard 27 inch Retina 5K/60Hz (MK0U3SA/A)</h3>
                    <span class="box-price">
                        38.490.000₫
                        <strike>41.990.000₫</strike>
                        <small>-8%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="10" data-block="Ipad">

                <a href="/mac/apple-macbook-air-m2-2022-10-core-gpu" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 10GPU" data-id="282847" data-price="29290000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282847/s16/mac-air-m2-13-xam-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 8GB/512GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282847/s16/mac-air-m2-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 8GB/512GB/10GPU</h3>
                    <span class="box-price">
                        29.290.000₫
                        <strike>29.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="11" data-block="Ipad">

                <a href="/mac/apple-macbook-air-m2-2022-16gb" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 10GPU" data-id="289441" data-price="33990000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289441/s16/mac-air-m2-13-vang-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 16GB/512GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289441/s16/mac-air-m2-13-vang-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 16GB/512GB/10GPU</h3>
                    <span class="box-price">
                        33.990.000₫
                        <strike>39.190.000₫</strike>
                        <small>-13%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="12" data-block="Ipad">

                <a href="/mac/apple-macbook-air-m2-2022-16gb-256gb" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 8GPU" data-id="289472" data-price="29790000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289472/s16/mac-air-m2-13-xam-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 16GB/256GB/8GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289472/s16/mac-air-m2-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 16GB/256GB/8GPU</h3>
                    <span class="box-price">
                        29.790.000₫
                        <strike>31.990.000₫</strike>
                        <small>-6%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="13" data-block="Ipad">

                <a href="/mac/mac-mini-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Mac mini M2 2023 8CPU - 10GPU" data-id="302152" data-price="14690000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302152/s16/mac-mini-m2-2023-thumbtz-650x650.png" class=" lazyloaded" alt="Mac mini M2 2023 8CPU/8GB/256GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302152/s16/mac-mini-m2-2023-thumbtz-650x650.png">
                    </div>
                    <h3>Mac mini M2 2023 8CPU/8GB/256GB/10GPU</h3>
                    <span class="box-price">
                        14.690.000₫
                        <strike>14.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="14" data-block="Ipad">

                <a href="/mac/mac-mini-m2-pro" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Mac mini M2 Pro 2023 16-core GPU" data-id="302154" data-price="31590000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302154/s16/mac-mini-m2-pro-thumbtz-650x650.png" class=" ls-is-cached lazyloaded" alt="Mac mini M2 Pro 2023 10-core CPU/16GB/512GB/16-core GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302154/s16/mac-mini-m2-pro-thumbtz-650x650.png">
                    </div>
                    <h3>Mac mini M2 Pro 2023 10-core CPU/16GB/512GB/16-core GPU</h3>
                    <span class="box-price">
                        31.590.000₫
                        <strike>31.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="15" data-block="Ipad">

                <a href="/mac/apple-macbook-air-15-inch-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M2" data-id="309017" data-price="31490000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309017/s16/mac-air-15-midnight-new-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M2 8GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309017/s16/mac-air-15-midnight-new-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M2 8GB/512GB</h3>
                    <span class="box-price">
                        31.490.000₫
                        <strike>37.990.000₫</strike>
                        <small>-17%</small>
                    </span>
                </a>

            </div>
        </div>

    </div>

</div>
    @*Watch*@
<div class="box-slide ">
    <a href="Watch" class="logo-cate  ">
        <i class="topzone-iconapple"></i>
        <h2 class="title-text">Watch</h2>
    </a>
    <div class="slide-cate owl-theme owl-loaded  filtering" >


        <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="1" data-block="Mac">

                <a href="/mac/macbook-air-13-inch-m3-2024" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M3" data-id="322612" data-price="27690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322612/s16/macbook-air-13-inch-m3-2024-xanh-1-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322612/s16/macbook-air-13-inch-m3-2024-xanh-1-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        27.690.000₫
                        <strike>27.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="2" data-block="Mac">

                <a href="/mac/macbook-air-15-inch-m3-2024" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M3" data-id="322616" data-price="31690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322616/s16/macbook-air-15-inch-m3-2024-xam-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/322616/s16/macbook-air-15-inch-m3-2024-xam-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        31.690.000₫
                        <strike>32.990.000₫</strike>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="3" data-block="Mac">

                <a href="/mac/apple-macbook-air-2020-mgn63saa" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M1" data-id="231244" data-price="19090000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/mac-air-m1-13-xam-new-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M1 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/mac-air-m1-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M1 8GB/256GB</h3>
                    <span class="box-price">
                        19.090.000₫
                        <strike>19.590.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="4" data-block="Mac">

                <a href="/mac/macbook-air-m2-2022-8-core-gpu" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2" data-id="282827" data-price="24390000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/mac-air-m2-13-xanh-new-650x650.png" class=" lazyloaded" alt="MacBook Air 13 inch M2 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/mac-air-m2-13-xanh-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 8GB/256GB</h3>
                    <span class="box-price">
                        24.390.000₫
                        <strike>27.090.000₫</strike>
                        <small>-9%</small>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="5" data-block="Mac">

                <a href="/mac/apple-macbook-air-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M2 Sạc 35W" data-id="309016" data-price="25990000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309016/s16/mac-air-15-xam-new-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M2 8GB/256GB Sạc 35W" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309016/s16/mac-air-15-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M2 8GB/256GB Sạc 35W</h3>
                    <span class="box-price">
                        25.990.000₫
                        <strike>32.290.000₫</strike>
                        <small>-19%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="6" data-block="Mac">

                <a href="/mac/macbook-pro-14-inch-m3-2023" class="main-contain" style="min-height:433px" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Pro 14 inch M3" data-id="318228" data-price="38690000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318228/s16/mac-topzone-spacegray-650x650.png" class=" lazyloaded" alt="MacBook Pro 14 inch M3 8GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318228/s16/mac-topzone-spacegray-650x650.png">
                    </div>
                    <h3>MacBook Pro 14 inch M3 8GB/512GB</h3>
                    <span class="box-price">
                        38.690.000₫
                        <strike>39.990.000₫</strike>
                    </span>
                    <p class="item-txt-online orange">Online giá rẻ quá</p>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="7" data-block="Mac">

                <a href="/mac/apple-macbook-pro-14-inch-m3-pro-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Pro 14 inch M3 Pro" data-id="318230" data-price="49490000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318230/s16/mac-topzone-promax-black-650x650.png" class=" lazyloaded" alt="MacBook Pro 14 inch M3 Pro 18GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/318230/s16/mac-topzone-promax-black-650x650.png">
                    </div>
                    <h3>MacBook Pro 14 inch M3 Pro 18GB/512GB</h3>
                    <span class="box-price">
                        49.490.000₫
                        <strike>49.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="8" data-block="Mac">

                <a href="/mac/imac-24-inch-2023-4-5k-m3-8-core-gpu" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iMac 24 inch M3" data-id="318238" data-price="35490000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/318238/s16/imac-m3-bạc-thumb-650x650.png" class=" lazyloaded" alt="iMac 24 inch M3 8GB/256GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/318238/s16/imac-m3-bạc-thumb-650x650.png">
                    </div>
                    <h3>iMac 24 inch M3 8GB/256GB</h3>
                    <span class="box-price">
                        35.490.000₫
                        <strike>36.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="9" data-block="Mac">

                <a href="/mac/apple-studio-display-27-5k-retina" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Studio Display Standard 27 inch 5K" data-id="274150" data-price="38490000.0" data-brand="Apple" data-cate="Màn hình" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5697/274150/s16/apple-studio-display-27-5k-retina-650x650.png" class=" lazyloaded" alt="Apple Studio Display Standard 27 inch Retina 5K/60Hz (MK0U3SA/A)" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5697/274150/s16/apple-studio-display-27-5k-retina-650x650.png">
                    </div>
                    <h3>Apple Studio Display Standard 27 inch Retina 5K/60Hz (MK0U3SA/A)</h3>
                    <span class="box-price">
                        38.490.000₫
                        <strike>41.990.000₫</strike>
                        <small>-8%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="10" data-block="Mac">

                <a href="/mac/apple-macbook-air-m2-2022-10-core-gpu" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 10GPU" data-id="282847" data-price="29290000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282847/s16/mac-air-m2-13-xam-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 8GB/512GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282847/s16/mac-air-m2-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 8GB/512GB/10GPU</h3>
                    <span class="box-price">
                        29.290.000₫
                        <strike>29.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="11" data-block="Mac">

                <a href="/mac/apple-macbook-air-m2-2022-16gb" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 10GPU" data-id="289441" data-price="33990000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289441/s16/mac-air-m2-13-vang-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 16GB/512GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289441/s16/mac-air-m2-13-vang-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 16GB/512GB/10GPU</h3>
                    <span class="box-price">
                        33.990.000₫
                        <strike>39.190.000₫</strike>
                        <small>-13%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="12" data-block="Mac">

                <a href="/mac/apple-macbook-air-m2-2022-16gb-256gb" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 13 inch M2 8GPU" data-id="289472" data-price="29790000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289472/s16/mac-air-m2-13-xam-new-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 13 inch M2 16GB/256GB/8GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/289472/s16/mac-air-m2-13-xam-new-650x650.png">
                    </div>
                    <h3>MacBook Air 13 inch M2 16GB/256GB/8GPU</h3>
                    <span class="box-price">
                        29.790.000₫
                        <strike>31.990.000₫</strike>
                        <small>-6%</small>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="13" data-block="Mac">

                <a href="/mac/mac-mini-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Mac mini M2 2023 8CPU - 10GPU" data-id="302152" data-price="14690000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302152/s16/mac-mini-m2-2023-thumbtz-650x650.png" class=" lazyloaded" alt="Mac mini M2 2023 8CPU/8GB/256GB/10GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302152/s16/mac-mini-m2-2023-thumbtz-650x650.png">
                    </div>
                    <h3>Mac mini M2 2023 8CPU/8GB/256GB/10GPU</h3>
                    <span class="box-price">
                        14.690.000₫
                        <strike>14.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="14" data-block="Mac">

                <a href="/mac/mac-mini-m2-pro" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Mac mini M2 Pro 2023 16-core GPU" data-id="302154" data-price="31590000.0" data-brand="Apple" data-cate="iMac, Mac mini" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302154/s16/mac-mini-m2-pro-thumbtz-650x650.png" class=" ls-is-cached lazyloaded" alt="Mac mini M2 Pro 2023 10-core CPU/16GB/512GB/16-core GPU" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/302154/s16/mac-mini-m2-pro-thumbtz-650x650.png">
                    </div>
                    <h3>Mac mini M2 Pro 2023 10-core CPU/16GB/512GB/16-core GPU</h3>
                    <span class="box-price">
                        31.590.000₫
                        <strike>31.990.000₫</strike>
                    </span>
                </a>

            </div>
        </div><div class="owl-item" style="width: 292.5px; margin-right: 10px;">
            <div class="item" data-pos="15" data-block="Mac">

                <a href="/mac/apple-macbook-air-15-inch-m2-2023" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M2" data-id="309017" data-price="31490000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHome">
                    <label class="no-label"></label>
                    <div class="img-slide">
                        <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309017/s16/mac-air-15-midnight-new-650x650.png" class=" lazyloaded" alt="MacBook Air 15 inch M2 8GB/512GB" width="300" height="300" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/309017/s16/mac-air-15-midnight-new-650x650.png">
                    </div>
                    <h3>MacBook Air 15 inch M2 8GB/512GB</h3>
                    <span class="box-price">
                        31.490.000₫
                        <strike>37.990.000₫</strike>
                        <small>-17%</small>
                    </span>
                </a>

            </div>
        </div>

    </div>

</div>
    @*TekZone*@
    <div class="box-slide">
        <a href="/tekzone" class="logo-cate  "><h2>TekZone</h2></a>
        <div class="slide-topnews owl-carousel owl-theme owl-loaded filtering" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}' data-block="TekZone">
                    <div class="owl-item" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/sinh-trac-hoc-ngan-hang-la-gi-1567395">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn//News/Thumb/1567395/6-1200x675.jpg" alt="Sinh trắc học ngân hàng là gì? Cách cập nhật thông tin sinh trắc học ngân hàng vô cùng nhanh chóng" class=" lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn//News/Thumb/1567395/6-1200x675.jpg">
                                </div>
                                <h3>Sinh trắc học ngân hàng là gì? Cách cập nhật thông tin sinh trắc học ngân hàng vô cùng nhanh chóng</h3>
                                <span class="timepost">6 giờ trước</span>
                            </a>
                        </div>
                    </div><div class="owl-item" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/quet-nfc-cccd-khong-duoc-phai-lam-sao-1567386">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn//News/Thumb/1567386/8-1200x675.jpg" alt="Không quét được NFC trên CCCD phải làm sao? Đừng lo, 6 cách này sẽ giúp bạn khắc phục ngay!" class=" lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn//News/Thumb/1567386/8-1200x675.jpg">
                                </div>
                                <h3>Không quét được NFC trên CCCD phải làm sao? Đừng lo, 6 cách này sẽ giúp bạn khắc phục ngay!</h3>
                                <span class="timepost">8 giờ trước</span>
                            </a>
                        </div>
                    </div><div class="owl-item" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/cach-xoa-vinh-vien-nhom-tren-messenger-1567355">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn//News/Thumb/1567355/4-1200x675.jpg" alt="Cách xóa vĩnh viễn nhóm trên Messenger, dọn dẹp danh sách và tập trung vào những nhóm quan trọng hơn" class=" lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn//News/Thumb/1567355/4-1200x675.jpg">
                                </div>
                                <h3>Cách xóa vĩnh viễn nhóm trên Messenger, dọn dẹp danh sách và tập trung vào những nhóm quan trọng hơn</h3>
                                <span class="timepost">10 giờ trước</span>
                            </a>
                        </div>
                    </div><div class="owl-item active" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/cach-thanh-toan-home-paylater-tai-topzone-1565854">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn/News/Thumb/1565854/9-1200x675.jpg" alt="Cách thanh toán Home PayLater tại TopZone, mua trước, trả sau, không lo gánh nặng tài chính" class=" lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn/News/Thumb/1565854/9-1200x675.jpg">
                                </div>
                                <h3>Cách thanh toán Home PayLater tại TopZone, mua trước, trả sau, không lo gánh nặng tài chính</h3>
                                <span class="timepost">15 giờ trước</span>
                            </a>
                        </div>
                    </div><div class="owl-item active" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/cach-phat-hien-camera-an-bang-dien-thoai-1567341">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn//News/Thumb/1567341/8-1200x675.jpg" alt="8 cách phát hiện camera ẩn bằng điện thoại đơn giản và hiệu quả, bảo vệ quyền riêng tư của bạn" class=" lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn//News/Thumb/1567341/8-1200x675.jpg">
                                </div>
                                <h3>8 cách phát hiện camera ẩn bằng điện thoại đơn giản và hiệu quả, bảo vệ quyền riêng tư của bạn</h3>
                                <span class="timepost">1 ngày trước</span>
                            </a>
                        </div>
                    </div><div class="owl-item active" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/thanh-toan-qua-the-tin-dung-ocb-giam-500k-cho-san-pham-tu-10-trieu-1566837">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn/News/Thumb/1566837/3-1200x675.jpg" alt="Thanh toán qua thẻ tín dụng OCB giảm 500K cho sản phẩm từ 10 triệu tại TopZone, số lượng có hạn" class=" ls-is-cached lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn/News/Thumb/1566837/3-1200x675.jpg">
                                </div>
                                <h3>Thanh toán qua thẻ tín dụng OCB giảm 500K cho sản phẩm từ 10 triệu tại TopZone, số lượng có hạn</h3>
                                <span class="timepost">1 ngày trước</span>
                            </a>
                        </div>
                    </div><div class="owl-item" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/gemini-la-gi-1567308">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn//News/Thumb/1567308/7-1200x675.jpg" alt="Gemini là gì? Có thể làm gì? Tạo ảnh được không? Có mất phí không? Cách sử dụng Gemini" class=" lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn//News/Thumb/1567308/7-1200x675.jpg">
                                </div>
                                <h3>Gemini là gì? Có thể làm gì? Tạo ảnh được không? Có mất phí không? Cách sử dụng Gemini</h3>
                                <span class="timepost">2 ngày trước</span>
                            </a>
                        </div>
                    </div><div class="owl-item" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/cach-phan-chieu-man-hinh-iphone-len-macbook-1567261">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn//News/Thumb/1567261/7-1200x675.jpg" alt="Cách phản chiếu màn hình iPhone lên MacBook để giải trí, học tập hay làm việc dễ dàng và hiệu quả" class=" lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn//News/Thumb/1567261/7-1200x675.jpg">
                                </div>
                                <h3>Cách phản chiếu màn hình iPhone lên MacBook để giải trí, học tập hay làm việc dễ dàng và hiệu quả</h3>
                                <span class="timepost">2 ngày trước</span>
                            </a>
                        </div>
                    </div><div class="owl-item" style="width: 393.333px; margin-right: 10px;">
                        <div class="item">
                            <a href="/tekzone/cach-xem-dia-diem-thi-thpt-quoc-gia-1535749">
                                <div class="img-slide">
                                    <img data-src="https://cdn.tgdd.vn//News/Thumb/1535749/3-1200x675.jpg" alt="2 cách xem lịch thi, địa điểm thi THPT Quốc gia năm 2024 nhanh nhất, giúp các sĩ tử chuẩn bị thật tốt" class=" lazyloaded" width="376" height="150" src="https://cdn.tgdd.vn//News/Thumb/1535749/3-1200x675.jpg">
                                </div>
                                <h3>2 cách xem lịch thi, địa điểm thi THPT Quốc gia năm 2024 nhanh nhất, giúp các sĩ tử chuẩn bị thật tốt</h3>
                                <span class="timepost">3 ngày trước</span>
                            </a>
                        </div>
                    </div>
                </div>
            
        </div>
        @*Listsieuthi*@
    @Html.Partial("ListBranch")

        @*poli*@
   @Html.Partial("Privacy")
@Html.Partial("_Footer")


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.filtering').slick({
                slidesToShow: 4,
                slidesToScroll: 2,
                arrows: true,
              
            });

          
           
        });
       
      
    </script>
}
