@model IEnumerable<Store.WebService.ViewModels.vmBanner>
@{
}
<style>
	.carousel-indicators button.owl-dot {
		position: relative;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: darkgray;
	}
	.carousel-indicators button.active {
		border: 2px solid lightskyblue;
		width: 11px;
		height: 11px;
		bottom:2px;
	}

	.carousel-control-prev i.fas.fa-arrow-left{
		width: 60px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		color: #fff;
		font-size: 20px;
		padding: 10px;
		border-width: 80px;
	}

	.carousel-control-prev i.fas.fa-arrow-left:hover {
		background-color: dimgrey;
	}
	.carousel-control-next i.fas.fa-arrow-right{
		width: 60px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		color: #fff;
		font-size: 20px;
		padding: 10px;
		border-width: 80px;
	}
	.carousel-control-next i.fas.fa-arrow-right:hover{
		background-color: dimgrey;
	}
</style>
<div id="carouselExampleIndicators" class="carousel slide" >
	<div class="carousel-indicators">
		@if (Model != null)
		{
			int index = 0;
			foreach(var banner in Model)
			{
				if (index == 0)
				{
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@index" class="owl-dot active" aria-current="true" aria-label="Slide @(index+1)"></button>
					<span></span>
				}
				else
				{
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@index" class="owl-dot" aria-label="Slide @(index+1)"></button>
					<span></span>
				}
				index++;
			}
		}
	</div>
	<div class="carousel-inner" style="border-radius:30px 30px 30px 30px">
		@if (Model != null)
		{
			int index = 0;
			foreach (var banner in Model)
			{
				if (index == 0)
				{
					<div class="carousel-item active">
						<a aria-label="slide" data-cate="@banner.CategoryId" data-place="1733" href="">
							<img class="lazyload" data-src="@banner.ImageURL" alt="@banner.BannerAlt">
						</a>
					</div>
				}
				else
				{
					<div class="carousel-item">
						<a aria-label="slide" data-cate="@banner.CategoryId" data-place="1733" href="">
							<img  class="owl-lazy lazyload" data-src="@banner.ImageURL" alt="@banner.BannerAlt" style="opacity: 1;">
						</a>
					</div>
				}
				index++;
			}
		}
	</div>

	<button class="carousel-control-prev" type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		<i class="fas fa-arrow-left">
		</i>
		<span aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		<i class="fas fa-arrow-right"></i>
		<span aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>