@model IEnumerable<Store.WebService.ViewModels.vmProduct>
@using static Store.Web.Utility.ProductsUtilities
<div class="access-sg owl-carousel owl-loaded filtering">
    @foreach(var product in Model)
    {
        <div class="owl-item active" style="width: 300px;">
            <div class="item">
                <a href="@Url.Action("Index", "ProductDetail", new { productUrl = product.ProductUrl })">
                    <div class="img-access-sg">
                        <img class="ls-is-cached lazyload" data-src="@product.ProductImages?.FirstOrDefault(x => x.Position.Trim() == "1")?.ImageURL" alt="@product.ProductImages?.FirstOrDefault(x => x.Position.Trim() == "1")?.ImageName">
                    </div>
                    <h3>@product.ProductName</h3>
                    <span>
                        <b>@FormatPrice(product.Price)₫</b>
                    </span>
                </a>
            </div>
        </div>
    }
</div>
   