@model IEnumerable<Store.WebService.ViewModels.vmFlashSale>
@using static Store.Web.Utility.ProductsUtilities;
@{
    ViewData["Title"] = "FlashSale";
}
<style>
    .nav-link:focus, .nav-link:hover {
        color: white;
    }
</style>
    <div class="flex-fs">
        <div class="gvdshock">
            <h3>
                <i class="lightning-ic">
                    <img width="32" height="70" class="lazyload" data-class="lazyload" data-src="//cdn.tgdd.vn/mwgcart/topzone/images/icon-fs.png" alt="lightningicon">
                </i>
            </h3>
            <div class="endtime" data-countdown="6/22/2024 11:59:00 PM" data-begin="6/22/2024 8:00:00 AM">
                <span class="title-end">Kết thúc trong</span>
                <div class="countdown-timer"></div>
            </div>
        </div>
        <div class="listing-timeline">
            <ul class="nav active" data-slick='{"slidesToShow": 1, "slidesToScroll": 3}'>
                @foreach (var flashSale in Model)
                {
                int index = 1;
                @if (index == 1)
                {
                    <li class="nav-item" role="presentation">
                        <a class="timelineCount nav-link active" flashsale-id="@(flashSale.Id)" data-countdown="@flashSale.DateClose.ToLocalTime()" data-begin="@DateTime.Now.ToLocalTime()" data-bs-toggle="tab" href="#tab@(flashSale.Id)" role="tab" aria-controls="tab@(flashSale.Id)">
                            <span>@FormatToDMY(@flashSale.DateOpen) - @FormatToDMY(@flashSale.DateClose)</span>
                            <span class="timeline">@FormatToToD(@flashSale.DateOpen) - @FormatToToD(@flashSale.DateClose)</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item" role="presentation">
                        <a class="timelineCount nav-link" flashsale-id="@(flashSale.Id)" data-countdown="@flashSale.DateClose.ToLocalTime()" data-begin="@DateTime.Now.ToLocalTime()" data-bs-toggle="tab" href="#tab@(flashSale.Id)" role="tab" aria-controls="tab@(flashSale.Id)">
                            <span>@FormatToDMY(@flashSale.DateOpen) - @FormatToDMY(@flashSale.DateClose)</span>
                            <span class="timeline">@FormatToToD(@flashSale.DateOpen) - @FormatToToD(@flashSale.DateClose)</span>
                        </a>
                    </li>
                }
                }
            </ul>
        </div>
    </div>
    
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.filtering').slick({
                slidesToShow: 4,
                slidesToScroll: 2,
                arrows: true,
                autoplay: true,
                autoplaySpeed: 2000,
            });

            $('.filtering').on('setPosition', function () {
                $('.slick-slide.slick-cloned').each(function () {
                    var innerWidth = $(this).find('.owl-item.cloned').css('max-width');
                    $(this).css('width', innerWidth);
                });
            });
        });
    </script>
}
