@model IEnumerable<Store.WebService.ViewModels.vmStore>

<div class="list-sieuthi">
    <div class="center-page">
        <div class="store-province">
            <b class="count-store">Mở bán tại @Model.Count() cửa hàng</b>
            <div>
                <span class="sText toggle-btn">Chọn tỉnh thành</span>
                <ul class="city-list" style="display: none;">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var city in Model.Select(m => m.City).Distinct())
                        {
                            <li class="option" data-city="@city">@city</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="store-list" id="store-list">
            @if (Model != null && Model.Any())
            {
                foreach (var store in Model)
                {
                    <p class="store" data-city="@store.City">
                        <a href="/@store.Id">
                            <span>TopZone @store.Adress <span>Xem chỉ đường</span></span>
                            <span>@store.Adress, @store.District, @store.City</span>
                            <span id="promoApple">
                                <img src="@store.ImageUrl" alt="@store.City">
                                <b>@store.Policy</b>
                            </span>
                        </a>
                    </p>
                }
            }
        </div>
        <a href="javascript:;" class="viewmore">Xem tất cả @Model.Count() cửa hàng</a>
    </div>
</div>

