@model IEnumerable<Store.WebService.ViewModels.vmCategory>

@{
}
 @if (Model != null)
{
    foreach(var category in Model)
    {
        if (category.Products.Count > 0)
        {
            <div class="box-slide ">
                <a href="@category.Name" class="logo-cate  ">
                    <i class="topzone-iconapple"></i>
                    <h2 class="title-text">@category.Name</h2>
                </a>
                <div class="slide-cate owl-theme owl-loaded  filtering" data-block="@category.Name">
                    @foreach (var product in category.Products)
                    {
                            <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
                                <div class="item" data-pos="1" data-block="Mac">

                                    <a href="/detailproduct/@product.Id" class="main-contain" style="min-height:433px" data-s="Nomal" data-site="16" data-pro="3" data-cache="@product.IsActive" data-name="@product.Name" data-id="322612" data-price="@product.Name" data-brand="@category.Name" data-cate="@category.Name" data-box="BoxHome">
                                        <label class="no-label"></label>
                                        <div class="img-slide">
                                            <img data-src="@product.ProductImages?.FirstOrDefault(x => x.Position.Trim() == "1")?.ImageURL"
                                                 class=" lazyloaded"
                                                 alt="@product.ProductImages?.FirstOrDefault(x => x.Position.Trim() == "1")?.ImageName"
                                                 width="300"
                                                 height="300"
                                                 src="@product.ProductImages?.FirstOrDefault(x => x.Position.Trim() == "1")?.ImageURL">
                                        </div>
                                        <h3>@product.Name</h3>
                                        <span class="box-price">
                                            @product.Price₫
                                        </span>
                                    </a>
                                </div>
                            </div>
                    }
                </div>
            </div>
        }
    }
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.filtering').slick({
                slidesToShow: 4,
                slidesToScroll: 2,
                arrows: true,
            });
        });
    </script>
}
